# Terraform
.terraform/
.terraform.lock.hcl
state.tf
*.tfvars

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw
*.pyi
*.pycachefile

# VS Code
.vscode/
*.code-workspace

# Mac
.DS_Store

# Files
*.zip
*.tar.gz

# Coverage
coverage
.coverage
report*

.hypothesis/